// **************************************
// * TYPOGRAPHY IMPORTS & SETUP
// **************************************

@import 'typography/typography-mixins';
// monospace/sans-serif font faces
//@import 'typography/ibm-plex-mono';
//@import 'typography/ibm-plex-sans';
//@import 'typography/ubuntu-mono';
//@import 'typography/ubuntu-sans';
@import 'typography/roboto-mono';
@import 'typography/roboto-sans';
//@import 'typography/helvetica-neue-sans';

/*$app-available-typefaces: (
    ibm-plex-mono: $ibm-mono-typeface-config,
    ibm-plex-sans: $ibm-sans-typeface-config,
    ubuntu-mono: $ubuntu-mono-typeface-config,
    ubuntu-sans: $ubuntu-sans-typeface-config,
    roboto-mono: $roboto-mono-typeface-config,
    roboto-sans: $roboto-sans-typeface-config,
    helvetica-neue: $helvetica-neue-sans-typeface-config
);*/

$app-available-typefaces: (
    roboto-mono: $roboto-mono-typeface-config,
    roboto-sans: $roboto-sans-typeface-config
);
